# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  workflow_dispatch:
    inputs:
      target_branch:
        description: 'Select the target branch'
        required: true
        default: qa
        type: choice
        options:
          - qa
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    environment:
      name: ${{ github.event.inputs.environment }}
    env:
      MY_GOOGLE_CAPTCHA_KEY: ${{ secrets.GOOGLE_CAPTCHA_KEY }}
      MY_REPO_SECRET: ${{ secrets.REPO_SECRET }}
    steps:
    - name: Check if GOOGLE_CAPTCHA_KEY secret is set
      run: |
        if [ -z "${{ secrets.GOOGLE_CAPTCHA_KEY }}" ]; then
          echo "GOOGLE_CAPTCHA_KEY Secret is not set or is empty. "
        else
          echo "GOOGLE_CAPTCHA_KEY Secret is set successfully (value is masked)${{env.MY_GOOGLE_CAPTCHA_KEY}}."
        fi
    - name: Check if MY_REPO_SECRET secret is set
      run: |
        if [ -z "${{ secrets.REPO_SECRET }}" ]; then
          echo "REPO_SECRET Secret is not set or is empty."
        else
          echo "REPO_SECRET Secret is set successfully (value is masked)${{env.MY_REPO_SECRET}}."
        fi
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm run build --if-present
    - run: npm test
